@using LibrosSession.Models

@model List<Libro>

@{
    ViewBag.Title = "ListadoLibros";
}

<h2>Listado Libros</h2>
@Html.ActionLink("Mis favoritos", "LibrosFavoritos","Libros")
<table class="table tab-content">
    <tr>
        <th>TÍTULO</th>
        <th>AUTOR</th>
        <th></th>
    </tr>

@foreach (Libro lib in Model) {
    <tr>
        <td>@lib.Titulo</td>
        <td>@lib.Autor</td>
        <td>
            @if (ViewBag.Favoritos != null && ViewBag.Favoritos.Contains(lib.IdLibro))
            {
                <img src="~/Images/3.png" style="width:25px;height:25px"/>
            }
            else
            {
                @Html.ActionLink("Añadir a favoritos", "ListadoLibros", "Libros", new { id = lib.IdLibro }, null)
            }
        </td>
    </tr>
}

</table>
